body {
  text-align: center;
  font-family: ""Arial", "Meiryo", sans-serif";
  font-family: "ＭＳ Ｐゴシック", sans-serif;
}

html {
  font-size: 20px;
}

h1 {
  font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 3px 3px 2px rgb(221, 221, 213);
}

#basic p{
    font-weight: bold;
}

.skyblue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}